#!/bin/bash

slstatus &
nm-applet &
feh --bg-scale --randomize /home/laci/wallpaper/*
/nix/store/26nj771p3zfclpyx6vjqpgb39p38xpgg-mate-polkit-1.28.1/libexec/polkit-mate-authentication-agent-1 &
export QT_QPA_PLATFORM=xcb
/home/laci/sync2.sh &


#xset s off &
#xset s -dpms &

xset s 900 dpms 0 0 900 &
